[project]
name = "hydrogeni-compressor-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
  "matplotlib",
  "numpy",
  "pandas",
  "toml",
]
